# Loop Control Challenges
Test your skills with these fun challenges about `break`, `continue`, and `return`!

## Challenge 1: Print Numbers Until 7
Write a loop that prints numbers from 1 to 10, but uses `break` to stop the loop when it reaches 7.

In [ ]:
# Starter code:
for num in range(1, 11):
    # Your code here
    pass

## Challenge 2: Find the First Negative Number
Write a loop that goes through a list of numbers and uses `break` to stop when it finds the first negative number. Print that number.

In [ ]:
# Starter code:
numbers = [3, 5, 7, -2, 8, -1]
for n in numbers:
    # Your code here
    pass

## Challenge 3: Break When You Find 'stop'
Write a loop that goes through a list of words and uses `break` to stop when it finds the word 'stop'. Print all words before 'stop'.

In [ ]:
# Starter code:
words = ["go", "run", "jump", "stop", "walk"]
for word in words:
    # Your code here
    pass

## Challenge 4: Skip the Odd Numbers
Write a loop that prints only the even numbers from 1 to 10 using `continue` to skip the odd ones.

In [ ]:
# Starter code:
for num in range(1, 11):
    # Your code here
    pass

## Challenge 5: Continue to Skip Multiples of 3
Write a loop that prints numbers from 1 to 10, but uses `continue` to skip numbers that are multiples of 3.

In [ ]:
# Starter code:
for num in range(1, 11):
    # Your code here
    pass

## Challenge 6: Continue to Skip Empty Strings
Given a list of strings, print only the non-empty strings using `continue` to skip the empty ones.

In [ ]:
# Starter code:
words = ["apple", "", "banana", "", "cherry"]
for word in words:
    # Your code here
    pass

## Challenge 7: Return the First Word Starting with 'A'
Write a function that takes a list of words and returns the first word that starts with the letter 'A'. Use `return` to send the word back.

In [ ]:
# Starter code:
def first_word_with_a(words):
    for word in words:
        # Your code here
        pass
    return None

# Example usage:
# print(first_word_with_a(["cat", "Apple", "dog"]))

## Challenge 8: Return the First Number Greater Than 100
Write a function that takes a list of numbers and returns the first number greater than 100. Use `return` to send the number back.

In [ ]:
# Starter code:
def first_gt_100(numbers):
    for n in numbers:
        # Your code here
        pass
    return None

# Example usage:
# print(first_gt_100([10, 50, 150, 200]))

## Challenge 9: Return the First Even Number in a List
Write a function that takes a list of numbers and returns the first even number. Use `return` to send the number back.

In [ ]:
# Starter code:
def first_even(numbers):
    for n in numbers:
        # Your code here
        pass
    return None

# Example usage:
# print(first_even([1, 3, 5, 8, 9]))

## Challenge 10: Return the First String Longer Than 5 Characters
Write a function that takes a list of strings and returns the first string that is longer than 5 characters. Use `return` to send the string back.

In [ ]:
# Starter code:
def first_long_string(words):
    for word in words:
        # Your code here
        pass
    return None

# Example usage:
# print(first_long_string(["cat", "elephant", "dog"]))